{% extends 'base.html.twig' %}

{% block title %}My account{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="form-account">
        <h1 class="text-center h3 mb-3 fw-normal">My account</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success container">
                {{ message }}
            </div>
        {% endfor %}
        <div style="margin-top: 20px;">
            {{ form_start(accountForm) }}
                <div class="mb-3">
                    {{ form_row(accountForm.password.first, {'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(accountForm.password.second, {'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
                </div>
                <button type="submit" class="btn btn-success">Save</button>
            {{ form_end(accountForm) }}
        </div>
    </div>
</div>
{% endblock %}
