{{ form_start(form) }}
    <div class="row mt-4">
        <div class="col-md-6">
            {{ form_label(form.name, "Name", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control mb-4'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.server, "Server", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.server, {'attr': {'class': 'form-control mb-4'}}) }}
        </div>
        <div class="col-md-12">
            {{ form_label(form.path, "Path", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.path, {'attr': {'class': 'form-control mb-4'}}) }}
            {{ form_label(form.commandStart, "Start command", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.commandStart, {'attr': {'class': 'form-control mb-4'}}) }}
            {{ form_label(form.commandStop, "Stop command", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.commandStop, {'attr': {'class': 'form-control mb-4'}}) }}
            {{ form_label(form.commandUpdate, "Update command (optional)", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.commandUpdate, {'attr': {'class': 'form-control mb-4'}}) }}
            {{ form_label(form.commandCustomInternal, "Custom command internal (optional)", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.commandCustomInternal, {'attr': {'class': 'form-control mb-4'}}) }}
        </div>
    </div>

    {{ form_widget(form) }}
    <button class="btn btn-success mt-3 mb-3">{{ button_label|default('Save'|trans) }}</button>
{{ form_end(form) }}
