{% extends 'base.html.twig' %}

{% block title %}Liste des serveurs de jeu{% endblock %}

{% block body %}
<div class="container mt-4">

    <h1>Liste des serveurs de jeu</h1>

    {% for message in app.flashes("success") %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}

    {% for message in app.flashes("danger") %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('game_new') }}">Ajouté un nouveau serveur de jeu</a>
    {% endif %}

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Serveur</th>
                <th>Type</th>
                <th>Etat</th>
                <th>Date de création</th>
                <th>Utilisateurs</th>
                <th>Opérations</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.server.name }}</td>
                <td>{{ game.game }}</td>
                <td>
                {% if game.state == 'On' %}
                    <span class="badge rounded-pill bg-success">{{ game.state }}</span>
                {% elseif game.state == 'Off' %}
                    <span class="badge rounded-pill bg-danger">{{ game.state }}</span>
                {% else %}
                    <span class="badge rounded-pill bg-warning">{{ game.state }}</span>
                {% endif %}
                </td>
                <td>{{ game.createdAt|date('d/m/Y') }}</td>
                <td>
                    <button type="button" class="btn btn-secondary"
                            data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                            data-bs-content="
                            {% for user in game.users %}{{ user.username }}<br>{% endfor %}
                            {% if game.users is empty %}Aucun utilisateur{% endif %}
                            ">
                    Voir les utilisateurs
                    </button>
                </td>
                <td>
                    <div class="row justify-content-start">
                        {% if game.game == 'Screen Server' %}
                            {% if game.state == 'On' %}
                                <div class="col-auto">
                                    <form method="post" action="{{ path('game_off', {'id': game.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir éteindre ce serveur de jeu ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('off' ~ game.id) }}">
                                        <button class="btn btn-warning"{% if game.state != 'On' and game.state != 'Off' %} disabled{% endif %}>Eteindre</button>
                                    </form>
                                </div>
                                <div class="col-auto">
                                    <form method="post" action="{{ path('game_kill', {'id': game.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir kill ce serveur de jeu ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('kill' ~ game.id) }}">
                                        <button class="btn btn-danger"{% if game.state != 'On' and game.state != 'Off' %} disabled{% endif %}>Killer</button>
                                    </form>
                                </div>
                            {% else %}
                                <div class="col-auto">
                                    <form method="post" action="{{ path('game_on', {'id': game.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir démarrer ce serveur de jeu ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('on' ~ game.id) }}">
                                        <button class="btn btn-success"{% if game.state != 'On' and game.state != 'Off' %} disabled{% endif %}>Démarrer</button>
                                    </form>
                                </div>
                                {% if game.commandUpdate is not null and game.commandUpdate is not empty %}
                                    <div class="col-auto">
                                        <form method="post" action="{{ path('game_update', {'id': game.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir lancer la mise à jour de ce serveur de jeu ?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('update' ~ game.id) }}">
                                            <button class="btn btn-warning"{% if game.state != 'Off' %} disabled{% endif %}>Mettre à jour</button>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            Aucune opérations disponible
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="row justify-content-start">
                        <div class="col-auto">
                            <a class="btn btn-primary" href="{{ path('game_logs', {'id': game.id}) }}">Logs</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-warning" href="{{ path('game_edit', {'id': game.id}) }}">Editer</a>
                            {% endif %}
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-auto">
                                {{ include('game/_delete_form.html.twig') }}
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('game_new') }}">Ajouté un nouveau serveur de jeu</a>
    {% endif %}
</div>
{% endblock %}
