{% extends 'base.html.twig' %}

{% block title %}{{ 'List of Game Servers'|trans }}{% endblock %}

{% block body %}
<div class="container mt-4">

    <h1>{{ 'List of Game Servers'|trans }}</h1>

    {% for message in app.flashes("success") %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}

    {% for message in app.flashes("danger") %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('game_new') }}">{{ 'Added a new game server'|trans }}</a>
    {% endif %}

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Server'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'Date of creation'|trans }}</th>
                <th>{{ 'Users'|trans }}</th>
                <th>{{ 'Operations'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.server.name }}</td>
                <td>
                {% if game.state == 'On' %}
                    <span class="badge rounded-pill bg-success">{{ game.state|trans }}</span>
                {% elseif game.state == 'Off' %}
                    <span class="badge rounded-pill bg-danger">{{ game.state|trans }}</span>
                {% else %}
                    <span class="badge rounded-pill bg-warning">{{ game.state|trans }}</span>
                {% endif %}
                </td>
                <td>{{ game.createdAt|date('d/m/Y') }}</td>
                <td>
                    <button type="button" class="btn btn-secondary"
                            data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                            data-bs-content="
                            {% for user in game.users %}{{ user.username }}<br>{% endfor %}
                            {% if game.users is empty %}No user{% endif %}
                            ">
                        {{ 'See users'|trans }}
                    </button>
                </td>
                <td>
                    <div class="row justify-content-start">
                        {% if game.state == 'On' %}
                            <div class="col-auto">
                                <form method="post" action="{{ path('game_off', {'id': game.id}) }}" onsubmit="return confirm('{{ 'Are you sure you want to turn off this game server?'|trans }}');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('off' ~ game.id) }}">
                                    <button class="btn btn-warning"{% if game.state != 'On' and game.state != 'Off' %} disabled{% endif %}>{{ 'Turn off'|trans }}</button>
                                </form>
                            </div>
                            <div class="col-auto">
                                <form method="post" action="{{ path('game_kill', {'id': game.id}) }}" onsubmit="return confirm('{{ 'Are you sure you want to kill this game server?'|trans }}');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('kill' ~ game.id) }}">
                                    <button class="btn btn-danger"{% if game.state != 'On' and game.state != 'Off' %} disabled{% endif %}>{{ 'Killer'|trans }}</button>
                                </form>
                            </div>
                        {% else %}
                            <div class="col-auto">
                                <form method="post" action="{{ path('game_on', {'id': game.id}) }}" onsubmit="return confirm('{{ 'Are you sure you want to start this game server?'|trans }}');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('on' ~ game.id) }}">
                                    <button class="btn btn-success"{% if game.state != 'On' and game.state != 'Off' %} disabled{% endif %}>{{ 'Start'|trans }}</button>
                                </form>
                            </div>
                            {% if game.commandUpdate is not null and game.commandUpdate is not empty %}
                                <div class="col-auto">
                                    <form method="post" action="{{ path('game_update', {'id': game.id}) }}" onsubmit="return confirm('{{ 'Are you sure you want to update this game server?'|trans }}');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('update' ~ game.id) }}">
                                        <button class="btn btn-warning"{% if game.state != 'Off' %} disabled{% endif %}>{{ 'Update'|trans }}</button>
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="row justify-content-start">
                        <div class="col-auto">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-warning" href="{{ path('game_edit', {'id': game.id}) }}">{{ 'Edit'|trans }}</a>
                                <a class="btn btn-info" href="{{ path('game_crons', {'id': game.id}) }}">{{ 'Cronjobs'|trans }}</a>
                            {% endif %}
                            <a class="btn btn-primary" href="{{ path('game_logs', {'id': game.id}) }}">{{ 'Logs'|trans }}</a>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-auto">
                                {{ include('game/_delete_form.html.twig') }}
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('game_new') }}">{{ 'Added a new game server'|trans }}</a>
    {% endif %}
</div>
{% endblock %}
