{% extends 'base.html.twig' %}

{% block title %}Logs {{ game.name }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Logs {{ game.name }}</h1>
    <textarea class="form-control" id="textarea" rows="28" wrap="off" readonly>{{ logs }}</textarea>
    <a class="btn btn-primary" href="{{ path('game_index') }}">Back to the list</a>
    <a class="btn btn-danger" href="{{ path('game_logs_clear', { 'id': game.id }) }}">Empty the logs</a>
</div>

<script>
    var psconsole = $('#textarea');
    psconsole.scrollTop(psconsole[0].scrollHeight - psconsole.height());
</script>
{% endblock %}
