{% extends 'base.html.twig' %}

{% block title %}{{ 'Logs'|trans }} {{ game.name }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>{{ 'Logs'|trans }} {{ game.name }}</h1>

    {% for message in app.flashes("success") %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes("danger") %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <textarea class="form-control mb-3" id="textarea" rows="28" wrap="off" readonly>{{ logs }}</textarea>

    <form action="{{ path('game_cmd', { 'id': game.id }) }}" method="post">
        <input type="hidden" name="_token" value="{{ csrf_token('cmd' ~ game.id) }}">
        <div class="input-group mb-3">
            <input type="text" name="cmd" class="form-control" placeholder="{{ 'Command line'|trans }}..." aria-label="{{ 'Command line'|trans }}..." aria-describedby="button-addon">
            <button class="btn btn-outline-success" type="submit" id="button-addon">{{ 'Send'|trans }}</button>
        </div>
    </form>

    <a class="btn btn-primary" href="{{ path('game_index') }}">{{ 'Back to the list'|trans }}</a>
    <a class="btn btn-danger" href="{{ path('game_logs_clear', { 'id': game.id }) }}">{{ 'Empty the logs'|trans }}</a>
</div>

<script>
    var psconsole = $('#textarea');
    psconsole.scrollTop(psconsole[0].scrollHeight - psconsole.height());
</script>
{% endblock %}
