{{ form_start(form) }}
    <div class="row mt-4">
        <div class="col-md-6">
            {{ form_label(form.name, "Server name", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control mb-4'}}) }}
            {{ form_label(form.ip, "IP address", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.ip, {'attr': {'class': 'form-control mb-4'}}) }}
            {{ form_label(form.port, "SSH port", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.port, {'attr': {'class': 'form-control mb-4'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.login, "Login", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.login, {'attr': {'class': 'form-control mb-4'}}) }}
            {% if error_pass is defined %}
                <ul>
                    <li>{{ error_pass }}</li>
                </ul>
            {% endif %}
            {{ form_label(form.password, "Password", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control mb-4'}}) }}
        </div>
    </div>

    {{ form_widget(form) }}
    <button class="btn btn-success mb-4">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
