{% extends 'base.html.twig' %}

{% block title %}{{ 'Add a user'|trans }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>{{ 'Add a user'|trans }}</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('user_index') }}">{{ 'Back to the list'|trans }}</a>
</div>
{% endblock %}
